<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://e7.pngegg.com/pngimages/387/531/png-clipart-south-korea-flag-south-korea-flag-flag-thumbnail.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restoran Korea</title>
  </head>

  <body>
    <a href="#content" class="skip-link">Lewati ke konten</a>

    <!-- Tampilan Navbar Dekstop -->
    <nav class="navbar">
      <a class="logo" href="">Restoran Korea</a>
      <ul class="navbarlist">
        <li class="navbaritems"><a href="/">Home</a></li>
        <li class="navbaritems"><a href="#">Favorite</a></li>
        <li class="navbaritems"><a href="https://www.instagram.com/bimofebrianto77/">About Us</a></li>
      </ul>
    </nav>

    <!-- Tampilan Navbar Mobile -->
    <div class="menumobile">
      <a href="" class="logomobile">Restoran Korea</a>
      <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
    </div>
    <nav id="drawer" class="navbarmobile">
      <ul class="navbarlistmobile">
        <li class="navbaritemsmobile"><a href="/">Home</a></li>
        <li class="navbaritemsmobile"><a href="">Favorite</a></li>
        <li class="navbaritemsmobile"><a href="https://www.instagram.com/bimofebrianto77/">About Us</a></li>
      </ul>
    </nav>

    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)), url('images/heros/hero-image_4.jpg')">
      <div class="heroinner">
        <h1 class="herotitle">Rekomendasi untuk Restoran Korea</h1>
        <h1 class="herotitle">추천 한식당</h1>
        <p class="herosubtitle">Temukan Restoran korea</p>
        <p class="herosubtitle">한식당 찾기</p>
      </div>
    </div>

    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="latest">
          <h1>Pencarian Restoran Korea</h1>
          <h1>한식당 검색</h1>
          <div class="list" id="tes"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>Copyright © 2022 - Restoran Korea</p>
    </footer>
  </body>
</html>
